In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df =pd.read_csv('train.csv')

In [3]:
df1 = df.sample(20000)

In [4]:
df1.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [5]:
df1.duplicated().sum()

0

In [6]:
question_df = df1[['question1', 'question2']]
question_df.head()

,question1,question2
278220,"What's the difference between quesadillas, tac...",Do restaurants and eateries in Mexico make bur...
303612,How can changing 500 and 1000 rupee notes end ...,How will demonetization of 500 and 1000 rupee ...
27090,Is China market intervention causing the rapid...,"If Trump’s election causes uncertainty, why is..."
319899,What are some major social faux pas to avoid w...,What are some major social faux pas to avoid w...
48266,How can I become a narcissist?,How do I become a narcissist?

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

questions = list(question_df['question1']) + list(question_df['question2'])

cv = CountVectorizer(max_features = 3000)
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(), 2)

In [8]:
temp_df1 = pd.DataFrame(q1_arr, index = question_df.index)
temp_df2 = pd.DataFrame(q2_arr, index = question_df.index)

final_df = pd.concat([temp_df1, temp_df2], axis = 1)
final_df.shape

(20000, 6000)

In [9]:
final_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
278220,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
303612,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27090,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
319899,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48266,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165312,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
336771,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
215952,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92447,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
348840,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
final_df['is_duplicate'] = df1['is_duplicate']

In [11]:
final_df.shape

(20000, 6001)

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(final_df.iloc[:,0:-1].values, final_df.iloc[:, -1].values,test_size = 0.2, random_state = 222)

In [14]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf = RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
print(accuracy_score(y_test,y_pred))

0.72825

In [21]:
from xgboost import XGBClassifier

xgb = XGBClassifier()
xgb.fit(X_train,y_train)
y_pred = xgb.predict(X_test)
print(accuracy_score(y_test,y_pred))

0.70875

In [16]:
from sklearn.tree import DecisionTreeClassifier

dec = DecisionTreeClassifier()

dec.fit(X_train, y_train)

y_pred = dec.predict(X_test)

print(accuracy_score(y_test,y_pred))

0.65825